@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}
@media screen and (max-width: 800px) {
	nav{
		background-color: #f9c34e;
		width: 100%;
	}
	a{
		color: #000;
	}
	ul{
		line-height: 30px;
	}
	ul:first-child{
		margin-top: 0px;
	}
	ul:last-child{
		margin-bottom: 0;
	}
	section, aside{
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid #000;
		width: 100%;
	}
	#contenedor{
		width: 100%;
	}
}
