.contenedor{
    margin: auto;
    border: 3px solid black;
    display: flex;
    height: 500px;
    width: 300px;
    flex-direction: row-reverse;
    align-items: center;
}
.item1, .item2, .item3{
    display: flex;
    background-color: red;
    width: 100px;
	height: 100px;
	font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}
.item2{
    background-color: blue;
}
.item3{
    background-color: green;
}