/*
font-family: 'Prosto One', cursive;
font-family: 'Sevillana', cursive;
*/
.texto{
    background-color: aqua;
    column-count: 3;
    column-gap: 50px;
}

h2{
    font-family: 'Prosto One', cursive; 
}

p{
    font-family: 'Sevillana', cursive;
}