body {
    background: #56569c;
    background: linear-gradient(180deg, #b0b0f1 0%, #ffffff 80%);
    font-family: 'Playfair Display', serif;
}

#fotoperfil {
    border-radius: 200px 0px 0px 200px;
    width: 300px;
    /* border: 1px solid black; */
    position: absolute;
    right: 0px;
    top: 1px;
}

h1 {
    text-align: center;
    background-color: #56569C;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 3px;
}

#datos {
    margin: auto;
    border-radius: 64px 64px 64px 64px;
    border: 5px inset #5b3e95;
    width: 250px;
    text-align: center;
}
.laboral, .estudios{
    margin-bottom: 5px;
    padding: 4px;
    width: 350px;
    border-radius: 0px 200px 200px 200px;
    border: 5px inset #5b3e95;
}
.perfil{
    line-height: 1rem;
    padding: 15px;
    height: 180px;
    border-radius: 0px 200px 200px 200px;
    border: 5px inset #5b3e95;
}

h3 {
    line-height: 16px;
}

h4 {
    margin-bottom: 2px;
    text-shadow: 1px 1px 1px white;
}

li {
    list-style-type: circle;
    font-style: italic;
}

.liform {
    list-style-type: none;
    font-style: normal;
    margin-bottom: 5px;
}
.fecha {
    font-weight: bold;
}

#tituloform {
    margin-top: 50px;
    text-align: center;
}

form {
    border-radius: 30px 30px 30px 30px;
    border: 1px inset #5b3e95;
    margin: auto;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    font-weight: bold;
}

input {
    width: 250px;
}

#cajacoment {
    width: 100%;
    height: 200px;
    margin-top: 5px;
}

.inptra {
    width: 50px;
}

#enviar {
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: 100px;
    margin-left: 40'0px;

}