<h1>{{title}}</h1>
{{#if conocido}}
    <p>Hola {{nombre}} <a href="/salir">Salir</a></p>
{{/if}}

{{#unless conocido}}
    <p>No te conozco decime tu nombre</p>
    <form action="/ingresar" method="post">
        <input type="text" name="nombre">
    <p>Y tu edad</p>
        <input type="int" name="edad"><button>Ingresar</button>
    </form>
{{/unless}}
